# Ignore everything
*
# But not these files...
!.gitignore
!.vimrc
!.vim
!.vim/**
!.setup_dotfiles.sh
!.bashrc
!install.sh
!.tmux.conf
!config.fish
!README.md

# Ignore the installed plugins
.vim/plugged/**
