# Ignore everything
*
# But not these files...
!.bashrc
!.config
!config.fish
!.git
!.gitignore
!gulpfile.js
!.i3
!.i3blocks.conf
!.i3status
!install.sh
!LICENSE
!.mpd
!.ncmpcpp
!.oh-my-zsh
!package.json
!README.md
!.tmux.conf
!.urxvt
!.vim
!.vimrc
!.weechat
!.xbindkeysrc
!.Xresources
!.zlogin
!.zshrc
!makesymlinks.sh
# Ignore the installed plugins
.vim/plugged/**
