!-------------------------------------------------------------------------------
!! Xft settings
!!-------------------------------------------------------------------------------
!
!Xft.dpi:                    96
!Xft.antialias:              false
!Xft.rgba:                   rgb
!Xft.hinting:                true
!Xft.hintstyle:              hintslight
!
!!-------------------------------------------------------------------------------
!! URxvt settings
!! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
!! More info at:
!! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!!-------------------------------------------------------------------------------
!
URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          false
URxvt.fading:               0
URxvt.urgentOnBell:         true
URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            50
URxvt.internalBorder:       3
URxvt.lineSpace:            0
!
!! Fonts
URxvt.allow_bold:           false
* URxvt.font:                 -*-terminus-medium-r-normal-*-12-120-72-72-c-60-iso8859-1 */
URxvt*font: xft:Monospace:pixelsize=14
URxvt*boldFont: xft:Monospace:pixelsize=14
!
!! Fix font space
URxvt*letterSpace: -1
!
!! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false
!
! Perl extensions
URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.urlLauncher:          firefox
!
!! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false
!
!! Pointer
URxvt.pointerBlank:         true
!

! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc6666
*.color9:       #cc6666

! green
*.color2:       #b5bd68
*.color10:      #b5bd68

! yellow
*.color3:       #f0c674
*.color11:      #f0c674

! blue
*.color4:       #81a2be
*.color12:      #81a2be

! magenta
*.color5:       #b294bb
*.color13:      #b294bb

! cyan
*.color6:       #8abeb7
*.color14:      #8abeb7

! white
*.color7:       #c5c8c6
*.color15:      #ffffff


! ------------------------------------------------------------------------------ ! 
! ROFI Color theme 
! ------------------------------------------------------------------------------ 
rofi.color-enabled: true 
rofi.color-window: #2f343f, #2f343f, #2f343f
rofi.color-normal: #2f343f, #f3f4f5, argb:2000000, #2f343f, #9575cd 
rofi.color-active: #2f343f, #268bd2, #eee8d5, #268bd2, #fdf6e3 
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3 
